/* The Modal (background) */
.modal {
  cursor: pointer;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: 50px auto;
  margin-bottom: 0;
  display: block;
  width: 100%;
  max-width: 1000px;
  cursor: auto;
}

.modal-content .modal__img-title {
  position: relative;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  padding: 16px 0;
  height: auto;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-content img {
  width: 100%;
}

.modal-content #modal-title {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  margin: 0;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
#modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 480px) {
  .modal-content .mdl-card__title {
    display: none;
  }
}

.modal .model__button-group {
  text-align: center;
}

.modal .model__button-group button {
  width: 50px;
  height: 50px;
}

.modal .model__button-group button span {
  color: #fff;
  font-size: 50px;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  line-height: 1;
}

@media (min-width: 1170px) {
  .modal .model__button-group button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .modal .model__button-group button:first-child {
    left: 0;
  }

  .modal .model__button-group button:last-child {
    right: 0;
  }
}
